/* variable: color scheme, font-size, imported google fonts */
:root {
  /* Primary Color */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
  --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* Typography */
  --font-size: 1.125rem;

  /* Font */
  --Outfit: "Outfit", sans-serif;
}

/* Use Board-Box Model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Outfit);
  background-color: var(--Very-dark-blue-mainBG);
  color: var(--White);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2,
h3,
p,
hr {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--White);
}

a:hover {
  color: var(--Cyan);
}

img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

.container {
  /* flex-basis: 90%; */
  max-width: 21rem;
  /* height: 40rem; */
  background-color: var(--Very-dark-blue-cardBG);
  padding: 1rem;
  border-radius: 20px;
}



.main-image {
  position: relative;
}



.overlay {
  position: absolute;
  background-color: var(--Cyan);
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

 .eye-icon {
   opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}

.main-image:hover .overlay{
  opacity: 0.8;
  
}
.main-image:hover .eye-icon{
  opacity: 1;
}

.product-desc {
  margin: 1rem 0;
}

.product-desc h2 a {
  font-size: 1.5rem;
  font-weight: 400;
}

.product-desc p {
  color: var(--Soft-blue);
  font-size: calc(var(--font-size) * 0.95);
  line-height: 1.5;
  margin-top: 1rem;
}

.price-duration {
  display: flex;
  justify-content: space-between;
}

.eth-price {
  display: flex;
  justify-content: space-between;
  flex-basis: 35%;
}

.eth-price h3 {
  color: var(--Cyan);

  font-size: calc(var(--font-size) * 0.9);
  font-weight: 400;
  margin-right: 0.9rem;
}

.clock-duration {
  display: flex;
  justify-content: space-between;
  flex-basis: 35%;
}

.clock-duration img {
  margin-left: 0.5rem;
}

.clock-duration p {
  color: var(--Soft-blue);
  font-size: calc(var(--font-size) * 0.9);
}

hr {
  border: 1px var(--Very-dark-blue-line) solid;
  margin: 1rem 0;
}

.owner-tag {
  display: flex;

  align-items: center;
}

.avatar {
  border-radius: 50%;
  border: 2px solid var(--White);
  max-width: 2.5rem;
}

.owner-tag p {
  font-size: calc(var(--font-size) * 0.9);
  color: var(--Soft-blue);
  margin-left: 1rem;
}
